[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=gExtractWinIcons
GenericName=gExtractWinIcons
Comment=A GTK utility to extract cursors, icons and png image previews from MS Windows resource files (like .exe, .dll, .ocx, .cpl)
Comment[bg]=GTK приложение за извличане на курсори, икони и изображения-предварителни прегледи във формат PNG от ресурсни файлове на MS Windows (като .exe, .dll, .ocx, .cpl)
Comment[ca]=Una utilitat GTK per extreure cursors, icones i previsualitzacions PNG d’fitxers de MS de recursos de Windows (como .exe, .dll, .ocx, .cpl)
Comment[es]=Una utilidad GTK para extraer cursores, iconos e imágenes PNG de archivos de recursos de Windows (como .exe, .dll, .ocx, cpl)
Comment[fr]=Un outil GTK pour extraire pointeurs, icônes et aperçus des images png des fichiers de ressources pour MS Windows (comme .exe, .dll, .ocx, .cpl)
Comment[he]=כלי עזר מבוסס GTK לחילוץ, תצוגות מוקדמות של צלמיות ותמונות PNG מתוך קבצי מקורות של MS Windows (כגון ‎.exe, .dll, .ocx, .cpl)
Comment[it]=Un'utilità GTK per estrarre cursori, icone e anteprime delle immagini png dai files di risorse per MS Windows (come .exe, .dll, .ocx, .cpl)
Comment[ru]=Утилита для извлечения курсоров, значков и PNG-изображений из файлов ресурсов MS Windows (*.exe, *.dll, *.ocx, *.cpl)
Terminal=false
Categories=Graphics;GTK;
Icon=gextractwinicons
Exec=gextractwinicons
TryExec=gextractwinicons
