[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=gExtractWinIcons
GenericName=gExtractWinIcons
Comment=Extract cursors and icons from MS Windows compatible resource files
Comment[it_IT]=Estrae cursori e icone dai files di risorsa compatibili con MS Windows
Terminal=false
Categories=Graphics;GTK;
Icon=gextractwinicons
Exec=gextractwinicons
TryExec=gextractwinicons
